.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card > div {
  width: 20rem;

  margin: 1rem;
  padding: 1rem;

  text-align: center;

  box-shadow: 0 0 0.1rem gray;
  border-radius: 20px;
}

.card:hover > div {
  box-shadow: 0 0 0 black;
}
