.no-display {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  overflow-x: auto;

  margin: 0;
  padding: 0;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav li {
  width: 7rem;
  height: 2rem;

  margin: 0 1px;

  text-align: center;
}

nav li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: black;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  cursor: pointer;
}
nav li a:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.2rem 0.5rem;

  border-radius: 5px;
}

.category.Dark {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.category.Programming {
  background-color: rgba(0, 255, 0, 0.7);
  color: black;
}

.category.Pun {
  background-color: rgba(224, 187, 54, 0.7);
  color: black;
}

.category.Christmas {
  background-color: rgba(215, 40, 40, 0.7);
  color: black;
}
.category.Misc {
  background-color: rgba(59, 21, 227, 0.7);
  color: white;
}
.category.Spooky {
  background-color: rgba(216, 29, 229, 0.7);
  color: rgb(0, 0, 0);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 33%;

  margin-top: 2rem;
  padding: 0.1rem;
}

.card .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.card .head p {
  margin: 0 0.5rem;
}

.card .head div input {
  width: 100%;
  margin: 0.1rem;
}

.card .head input[type="button"] {
  margin: 0;
}
