<form
  [formGroup]="addForm"
  (ngSubmit)="onSubmit(addForm.value)"
  class="vertical"
>
  <div class="field-container">
    <p class="fa-root"></p>
    <input type="text" id="Name" formControlName="name" required />
    <label for="Name">Name</label>
  </div>
  <div class="field-container">
    <p class="fa-root"></p>
    <input type="text" id="Followers" formControlName="followers" required />
    <label for="Followers">Followers</label>
  </div>
  <div class="field-container">
    <p class="fa-root"></p>
    <textarea
      id="Description"
      formControlName="description"
      required
    ></textarea>
    <label for="Description">Followers</label>
  </div>
  <input type="submit" value="Send" />
</form>
